#page-mod-poster-view #mod_poster-content {
    clear: both;
    padding-left: 0;
    padding-right: 0;
}

#page-mod-poster-view.editing #block-region-mod_poster-pre[data-droptarget="1"],
#page-mod-poster-view.editing #block-region-mod_poster-post[data-droptarget="1"] {
    border: 2px dashed #888;
    padding: 5px;
    margin-bottom: 5px;
    min-height: 8em;
}
